
#middle img{
	margin-top: 20px;
	margin-left: 310px;
	width: 50%;
}
#rss img{
	margin-left: 0px;
	width: 3%;
}

#rss {
	margin-left: 100px;
	margin-right: 90px;
	margin-top: -60px;
}


#middle p{
	margin-left: 100px;
	margin-right: 100px;
}

table {
	margin-left: 100px;
	margin-right: 100px;
}